.sidebar-text {
    font-family: "Seaweed Script";
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
}

.sidebar-root {
    width: 150px;
    display: flex;
    flex-direction: column;
    background: url("../../media/header-back.jpg");
    height: 100vh;
}

.sidebar-parent {
    display: flex;
    flex-direction: row;
    position: fixed;
}
