body {
    background-image: url("./media/main-back.jpg");
    background-size: 1500px;
    margin: 0;
}

.logo-type-img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

div, p {
    font-family: "Seaweed Script";
    font-size: 24px;
    font-weight: lighter;
    color: #2b8283;
}
